<h5>Let's get in touch</h5>
<form action="https://formspree.io/andrew.j.zeller@gmail.com"
      method="POST" class="container--contact-form" id="contact">
  <div class="form-group">
    <input type="text" class="form-control" id="inputname" name="name" placeholder="name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="inputemail" name="email" placeholder="email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="inputphone" name="phone" placeholder="phone number">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="projectdescription" name="project" placeholder="a bit about your project">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
