<div class="container-fluid container--footer">

  {% include contact-form.html %}

  <p>Made in 2018 in California</p>
  <!-- <hr  /> -->
  <div class='footer-icons'>
    <a href="https://www.behance.net/andrewjzeller" target="_blank"><i class="fab fa-behance" aria-hidden="true"></i></a>
    <a href="https://twitter.com/interfacefarm" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="https://gitlab.com/ajzeller/interfacefarm" target="_blank"><i class="fab fa-gitlab" aria-hidden="true"></i></a>
    <!-- <a href="https://gitlab.com/ajzeller/interfacefarm" target="_blank">Source</a> -->
  </div>



</div>
