<div class=" container-fluid container--case-study-section" >

  <div class="row">

    <div class="col-md-6">
      <img src="assets/images/overview.png" class="image image--iphone-1 animate1" />


    </div>

    <div class="col-md-6 text--case-study text--mint-ui">
      <img src="assets/images/green-logo-title.svg" class="image image--logo image--mint-ui-logo animate4" />

      <div class="animate2">
        <h5>Personal finance app design.</h5>

        <a href="https://www.behance.net/gallery/63322443/Green-Personal-Finance-App-Design" target="_blank" id="trigger">
          <button type="button" class="btn btn--secondary btn--hover-float-up">View project on Behance</button>
        </a>
      </div>


    </div>
  </div>

</div>
