<div class=" container-fluid container--case-study-section container-sg" >

  <div class="row">

    <div class="col-md-6">
      <img src="assets/images/stravagear.png" class="image image--iphone-1 animate3" />


    </div>

    <div class="col-md-6 text--case-study text--sg">
      <h4 class="text--stravagear animate4"><strong>Strava</strong>Gear</h4>

      <div class="animate2">
        <h5>
          Sports gear tracking app concept.
        </h5>

        <a href="http://stravagear.com" target="_blank" id="trigger">
          <button type="button" class="btn btn--secondary btn--hover-float-up">View live</button>
        </a>
      </div>
    </div>



  </div>

</div>
