    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ site.url }}/assets/icons/if-logo-1-blue.svg" class="image--brand"/>
            <div class="text--brand">
                <span class="bold">interface</span><span class="regular">farm</span>
            </div>
        </a>


        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <div id="nav-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/#work">work</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/#about">about</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link nav-link--emphasis" href="{{ site.url }}/#contact">contact</a>
          </li>
        </ul>
      </div>

      </div>
    </nav>
