<div class=" container-fluid container--case-study-section" >

  <div class="row">

    <div class="col-md-6">
      <img src="assets/images/visualizeua.png" class="image image--iphone-1 animate3" />


    </div>

    <div class="col-md-6 text--case-study text--vf">
      <h4 class="text--vizualizeua animate4"><strong>Visualize</strong> UA</h4>

      <div class="animate2">
        <h5>
          Virtual reality campus lab tours.
        </h5>

        <a href="https://ajzeller.github.io/visualizeua/" target="_blank" id="trigger">
          <button type="button" class="btn btn--secondary btn--hover-float-up">View site</button>
        </a>
      </div>
    </div>



  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- <img src="assets/images/trends.png" class="image image--mint-ui-1" /> -->

    </div>

  </div>

</div>
