<div class=" container-fluid container--case-study-section" >

  <div class="row">

    <div class="col-md-7">
      <img src="assets/images/vocal-focals-macbook.png" class="image image--vf-1 animate3" />


    </div>

    <div class="col-md-5 text--case-study text--vf">
      <img src="assets/images/vocal-focals-title-logo.svg" class="image image--logo image--vf-2 animate4" />

      <div class="animate2">
        <h5>
          Wearable text recognition platform for the visually impaired.
        </h5>

        <a href="https://vocalfocals.com" target="_blank" id="trigger">
          <button type="button" class="btn btn--secondary btn--hover-float-up">View site</button>
        </a>
      </div>
    </div>



  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- <img src="assets/images/trends.png" class="image image--mint-ui-1" /> -->

    </div>

  </div>

</div>
