---
---

// begin file with two rows of triple dashes so Jekyll properly builds scss

// Colors

$white: #fff;
$black: #000;
$white-hov: rgba(255,255,255,0.7);
$off-white: #f6f6f6;
$crimson: #971b2f;
$crimson-hover: #971b2f;
$light-grey-border: #D6D5D6;
$grey-text: #7F7F7F;
$white-lilac: #E9E6E9;
$green: #1FAB89;
$light-green: #D7FBE8;
$capgemini-blue: #66C6E7;
$dark-text: #403F3E;
$logo-color: #324E7B;
$gradient-bottom: #324E7B;
$dark-blue: #017CAE;
$btn-hover: #40639c;
$bittersweet: #F1776A;
$bittersweet-hov: RGBA(241, 119, 106, 0.9);
$gradient-purple: #7F7DEA;
$gradient-pink: #D9A7DF;
$btn-blue: RGBA(121, 165, 240, .9);
$btn-blue-hov: RGBA(121, 165, 240, .75);
$black: #24292E;
$theme-primary: #5C9BE4;
$theme-primary-hover: #0061B6;
$theme-gradient: #4AABFF;

// Font weights

$light-weight: 300;
$medium-weight: 400;


// General

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 0px;
  // background-color: $white;
  background-repeat: no-repeat;
  background-color: $white; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient($capgemini-blue, $gradient-bottom); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient($capgemini-blue, $gradient-bottom); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient($capgemini-blue, $gradient-bottom); /* For Firefox 3.6 to 15 */
    // background: linear-gradient($capgemini-blue, $gradient-bottom); /* Standard syntax */
    min-height: 100vh;
  font-weight: $light-weight;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5em;
}

h5 {
  font-size: 1.2rem;
  font-weight: $light-weight;
}

.header-centered {
  text-align: center;
}

a {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

hr {
  height: 1px;
  border-color: $white-lilac;
  // border: 1px solid;
}

pre {
  padding: 0.5rem;
  margin: 1rem;
  border: 0px solid $grey-text;
  border-radius: 0.25rem;
  background-color: $white-lilac;
}

.italic {
  font-weight: 200;
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: $light-weight;
}

.fill {
  min-height: 100vh;
  // position: relative;
  // top: -90px;
}

  h1 {
    display: block;
    // font-size: 2.5em;
    margin: 200px 0 50px 0;
    text-align: center;
    color: $light-green;
  }

  a {
    display: inline-block;
    // color: $white;
  }

  .new-user {
    text-align: center;
  }

  a:hover {
    text-shadow: 0px 0px 40px rgba(189, 189, 189, 0.2),
                0px 10px 30px rgba(189, 189, 189, 0.2);

  }



.container--gradient-bg {
  background-color: $white; /* For browsers that do not support gradients */
  //   background: -webkit-linear-gradient($capgemini-blue, $gradient-bottom); /* For Safari 5.1 to 6.0 */
  //   background: -o-linear-gradient($capgemini-blue, $gradient-bottom); /* For Opera 11.1 to 12.0 */
  //   background: -moz-linear-gradient($capgemini-blue, $gradient-bottom); /* For Firefox 3.6 to 15 */
  //   background: linear-gradient(90deg, $theme-primary, $theme-primary); /* Standard syntax */
}

/*Navigation*/

.navbar {
  color: $black;
  background-color: $white;
  border-top: 0px solid $gradient-purple;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0),
              0px 10px 30px rgba(0, 0, 0, 0);
  transition: top 0.6s ease-in-out;
  min-height: 8vh;

  ul {
    float: right;
  }

  li {
    margin-left: 0.75rem;

    a {
      color: $black;
      font-size: 1.2rem;
      text-transform: none;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

      &:hover {
        transform: translateY(-2px);


      }

    }

  }

  .nav-link--emphasis {
    color: $theme-primary;
  }

}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: .01em;
  color: $black;
  font-weight: $medium-weight;
  // margin: 0.4em 0.5em 0em 2em;
  text-decoration: none;
  // text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;

  &:hover {
    color: $black;
  }

}

.text--brand {
  display: flex;
  height: 5rem;
  // font-size: 2rem;
  align-items: center;
  margin: 0 0 0 4.5rem;
}

 // Nav icon animation

#nav-icon {
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;

 span {
    display: block;
    position: absolute;
    height: .2rem;
    width: 100%;
    background: $black;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }

  span:nth-child(1) {
    top: 1.5rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 1rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: .5rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}

#nav-icon.open {
  span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0.25rem;
    left: 0.25rem;
  }

  span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1.5rem;
    left: 0.25rem;
  }
}

.navbar-default .navbar-nav {
  li:hover {
    a{
      color: $dark-text;
      p {
        color: $dark-text;
      }
    }
  }
}





// Containers

.interest-container {
  width: 40%;
  margin: auto;
}

.container--main {
  width: 100%;
  min-height: 80vh;
  background-color: $white;
}

.container--no-padding {
  padding: 0;
}

.container--hero {
  color: $black;
  // text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  // min-height: 50vh;
  width: 100vw;
  padding: 100px 0 0 0;
  // box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  h2 {
    color: $black;
  }

}

.container--down-arrow {
  text-align: center;
  position: absolute;
  // width: 100%;
  top: 90vh;
}

.container--team {
  h4 {
    color: $black;
  }

  p {
    color: $grey-text;
  }
}

.container--team-member {
  background-color: $white;
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  border: 0px solid $light-grey-border;
  border-radius: 0.5rem;
  min-height: 200px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.container--step {
  background-color: $white;
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  border: 0px solid $light-grey-border;
  border-radius: 0.5rem;
  // min-height: 100px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.container__team-member-photo {
    width: 100%;
    margin: 0 0 0 0rem;
}

.container-mint-ui {
  margin: 200px 0 0 0;
}

.container-vf {
  margin-top: 100px;
}

.container--case-study-section {
  margin-top: 100px;
}

.container-sg {
  margin-bottom: 50px;
}

.container--contact-form {
  width: 40%;
  margin: 0 auto 30px auto;
  padding: 1rem;
  // border: 1px solid $light-grey-border;
  border-radius: 5px;

  .form-control {
    background-color: rgba(255,255,255,0.5);
    border: none;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    color: $grey-text;
    font-weight: 300;
  }
}

// Headers

.header {
  margin: 2rem auto 2rem auto;
  text-align: center;
  h4 {
    color: $black;
  }

  p {
    color: $grey-text;
  }

  .fa {
    color: $light-grey-border;
  }
}

.container--buttons-centered {
  text-align: center;
}

// Text

.text--case-study {
  text-align: left;
  margin-top: 90px;
}

.text--mint-ui {

}

.text--vf {

}

.text--visualizeua {
  color: #333333;
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;

  strong {
    font-weight: 700;
  }
}

.text--stravagear {
  color: #FC4C02;
  font-family: Roboto;
  font-weight: 300;
  font-size: 26px;

  strong {
    font-weight: 700;
  }
}

/*Buttons*/

.btn {
  font-weight: $light-weight;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.5rem 0rem 0.75rem 0;
  cursor: pointer;
}

.btn--hover-float-up {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn--hover-float-up:hover {
  transform: translateY(-2px);
}

.btn--primary {
  background-color: $btn-blue;
  color: $white
}

.btn--primary:hover {
  background-color: $btn-blue-hov;
  // -webkit-transform: scale(1.03, 1.03);
  // transform: scale(1.03, 1.03);
}

.btn--secondary {
  color: $grey-text;
  background-color: $white;
}

.btn--secondary:hover {
  color: $grey-text;
  background-color: $white-lilac;
  // -webkit-transform: scale(1.03, 1.03);
  // transform: scale(1.03, 1.03);
}

a.anchor {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;
}

.next-button {
  float: right;
  display: block;
}

// assets

.image {
  // display: block;
}

.image--splash {
}

.image--menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: auto;
  transform: rotate(20deg);
  opacity: 1000;
  // float: right;
  margin: 0rem 0 0 0;
  border-radius: .3em;

}

.image--sign {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: auto;
  transform: rotate(-10deg);
  opacity: 1;
  float: right;
  margin: 4rem 0rem 0rem 0;
  border-radius: .45em;

}

.image--flyer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 20rem;
  transform: rotate(20deg);
  opacity: 1;
  float: right;
  margin: 5rem 10rem 0 0;
  border-radius: 0em;

}

.image--team-member {
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  // z-index: 50;
}

.image--brand {
  float: left;
  // width: 2rem;
  height: 5rem;
  padding: 0;
  margin: auto auto;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: translateY(-2px);
    // transform: rotate(5deg);
  }
}

.image--raspberry-pi {
  display: block;
  width: 90%;
  margin: 5rem auto;
  transform: rotate(20deg);
}

.image--gcp {
  display: block;
  width: 80%;
  margin: 5rem auto;
  // transform: rotate(20deg);
}

.video-embed {
  display: block;
  width: 900px;
  height: 506px;
  margin: 2rem auto 1rem auto;
  // border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.image--iphone-1 {
  display: inline-block;
  float: right;
  width: 20vw;
  visibility: hidden;
}

.image--vf-1 {
  width: 100%;
}

.image--logo {
  display: block;
  max-width: 200px;
  position: relative;
}

.image--mint-ui-logo {
  left: -10px;
}

.image--vf-2 {
  left: -20px;
}

// Icons

.fa-linkedin-square {
  color: #0077B5;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  // float: left;
  margin: auto 0;
  // position: absolute;
  // z-index: 51;

  &:hover {
    color: #158DC7;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);

  }

}



// Panels

.interest-bubbles {
  margin-top: 10px;
}

.panel-interest {
  color: $grey-text;
  display: inline-block;
  font-size: 1em;
  padding: 0.25em;
  margin: 10px 5px 10px 0px;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.7);

  .panel-body {
    font-size: 1em;
    padding: 0.25em;
  }

  .fa {
    margin-left: 0.5em;
  }

}

.event {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05),
              0px 0px 30px rgba(0, 0, 0, 0.05);
  margin: 1em 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    h4 {
      padding: 0em 0;
      font-weight: $light-weight;
      color: $dark-text;
      line-height: 1em;
      display: inline;
      float: left;
      margin: 0;
    }

    h5 {
      float: right;
      font-weight: $light-weight;
      color: $grey-text;
      text-transform: uppercase;
      font-size: 0.75em;
      display: inline;
      margin-top: 0.5em;
    }

    .panel-body {
      padding: 1em;
    }

    .event-type {
      float: right;
    }

    .badge {
      background-color: $grey-text;
    }

    .event-info {
      margin-top: 0.5em;
    }

    .event-date, .event-time {
      color: $grey-text;
    }
}

.event:hover {
  -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    opacity: 1;
    box-shadow: 0px 0px 0px rgba(153, 153, 153, 0.2),
                0px 10px 20px rgba(153, 153, 153, 0.2);
}

.event::after {
  box-shadow: 0px 0px 0px rgba(153, 153, 153, 0.2),
              0px 10px 20px rgba(153, 153, 153, 0.2);
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.event-details {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05),
              0px 0px 30px rgba(0, 0, 0, 0.05);
  margin: 1em 0;

  h4 {
    font-weight: $light-weight;
    font-size: 2em;
    padding: 0.25em 0;
    text-align: center;

  }

  p {
    line-height: 2em;
    margin-bottom: 2em;
  }

  .fa {
    color: $light-grey-border;
  }

  .centered-buttons {
    display: block;
    margin: auto;
    text-align: center;
  }

}

.alert {
  width: 75%;
  margin: 1em auto;
}

// Footer

.container--footer {
  text-align: center;
  background-color: $off-white;
  padding: 20px 0;
  color: $grey-text;
  min-height: 20vh;
}

.footer-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;

  a {
    color: $grey-text;

  }
}

.footer-icons>a>.fa {
  color: $grey-text;
  margin: 20px 10px;
}

.footer-icons>a>.fa:hover {
  color: #000;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;

}

@media only screen and (max-width : 1500px) {
  .spash-section-1 {
    background-size: auto;
    background-position: 0 0px ;
    height: auto;
    min-height: 500px;
  }

}

/* Custom, iPhone Retina */

   @media only screen and (max-width : 767px) {

     .username-form, .password-form{
       width: 80%;
     }

     .interest-container {
       width: 100%;
     }

    //  ---

     .page-top {
       margin-top: 140px;
     }

     .container--hero {
       padding: 40px 0 0 0;
     }

     .container__team-member-photo {
         width: 60%;
         margin: 0.5rem auto;
     }

     .splash-section-2 {
       .col {
         min-width: 100vw;
         margin: 3rem 0 0 0;
       }
     }

     .video-embed {
       width: 100%;
       height: 30vh;
     }

     .image--brand {
       height: 4rem;
     }

     .text--brand {
       height: 4rem;
       font-size: 1.2rem;
       margin: 0;
     }

     .image--iphone-1 {
       display: block;
       float: none;
       margin: auto;
       width: 100%;
       visibility: hidden;
     }

     .image--logo {
       float: none;
       margin: auto;
     }

     .text--mint-ui {
       margin: 30px;
     }

     .text--case-study {
       text-align: center;
       margin-top: 30px;
     }



   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

   }
